.auth-whole-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.auth-wrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color: beige;
    padding:20px 40px;
    border-radius: 10px;
}

.auth-header{
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
}

.create-new{
    font-size: 0.7rem;
    align-self: center;
}

.create-new:hover{
    color:red;
    cursor: pointer;
}